<web-app>

    <display-name>zhaohg-dubbo-provider</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:dubbo-provider-example.xml</param-value>
    </context-param>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <welcome-file-list>
    </welcome-file-list>

</web-app>